@import '../../node_modules/@angular/material/core/theming/theming';

@mixin debugger-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    .debugger-container {
        .debugger-display {
            .row {
                & > div {
                    border: 1px solid md-color($primary);
                }
                .line-number-col {
                }
                .source-code-col {
                }
                .trace-col {
                }
            }
        }
    }
}
