@import '../../node_modules/@angular/material/core/theming/theming';

@mixin file-browser-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    .file-browser-component {
        md-list-item {
            &.searched {
                background: rgba(0,0,0,0.3);
            }
            &.selected {
                color: mat-color($primary, default-contrast) !important;
                background: mat-color($primary) !important;
                //background: rgba(0,0,0,0.5) !important;
            }
            &:hover {
                color: mat-color($primary, lighter-contrast);
                background: mat-color($primary, lighter);
            }
        }
        .file-list {
            border: solid 2px rgba(0, 0, 0, 0.12);
        }
    }
}
