@import '../../node_modules/@angular/material/theming';

@mixin trace-loop-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

	.trace-loop {
		background: map-get($background, background);
		border-right: 1px solid mat-color($primary);
		.trace {
		    box-sizing: border-box;
		}
		.trace.first {
			border-top: 1px solid mat-color($primary);
		}
		.trace.last {
			border-bottom: 1px solid mat-color($primary);
		}

		.expand-loop-button {
			border-top: 1px solid mat-color($accent, darker);
			border-right: 1px solid mat-color($accent, darker);
			border-bottom: 1px solid mat-color($accent, darker);
			background: mat-color($accent);

			&:hover {
				background: mat-color($accent, lighter);
				cursor: pointer;
			}

			.expand-icon {
				padding-right: 5px;
				padding-left: 5px;
				font-weight: bold;
			}

		}

		.iteration-wrap {
			/*width: 100%;*/
		}
		.iteration {
		    border-right: 1px solid mat-color($primary, default);
                    flex-basis: auto;
                    width: max-content;
		}
	}
}
