@import '../../node_modules/@angular/material/core/theming/theming';

@mixin trace-history-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    .trace-history-sidenav{
        md-list {
            md-list-item {
                border-bottom: 1px solid rgba(0,0,0,0.2);
                &:hover {
                    background: mat-color($accent, 100);
                    border: 2px solid rgba(0,0,0,0.2);
                }
            }
        }
    }
}
