#ConfigurationContainer {
    figure {
        display: block;
        position: static;
        align-items: stretch;
        justify-content: flex-start;
    }
    .smallerMargin {
        margin: .5em;
    }
    .width-100 {
        width:100%
    }
}