.file-browser-component {
    padding-top:1em;

    .input-icon {
        line-height: 2;
    }

    md-list-item {
        cursor: pointer;

        .mat-list-item-content {
            height: 30px !important;
        }
        md-progress-spinner {
            height: 20px !important;
        }

        &.selected {
            background: rgba(0,0,0,0.5) !important;
        }
        &:hover {
            background: rgba(0,0,0,0.3);
        }

        .file-icon {
            text-align: center;
            padding-top: 10px;
        }
        .file-header {
            font-size: larger;
        }
        .file-subheader {
            font-size: small;
            font-style: italic;
        }
    }
    .divider-spacing {
        height: 1px;
    }
    .file-list {
        border: solid 2px rgba(0,0,0,0.12);
        overflow-y: auto;
        overflow-x: auto;
    }

}