#LauncherContainer {
    .spanSpacerSmall {
        margin-left: 1em;
    }
    .bottomAlign {
        vertical-align: bottom;
    }
    md-tab-body {
        overflow-y: hidden !important;
    }
    .launcherList {
        padding-top: 1em;
    }
    .selected-info {
        padding-left: 1em;
        padding-top: 4px;

        .selected-title {
            font-size:medium;
            font-weight: bold;
        }
        .selected-subtitle {
            font-size:smaller;
            font-style: italic;
        }
    }
}
