.process-list-component {
    padding-top: 1em;

    .process-list {
        overflow-y: auto;
        overflow-x: auto;
    }

    .input-icon {
        line-height: 2;
    }
    .process-list-item {

        cursor: pointer;

        .md-list-item {
            height: 42px !important;
        }
        .process-icon {
            text-align: center;
            padding-top: 10px;
        }
        .process-header {
            font-size: larger;
        }
        .process-subheader {
            font-size: small;
            font-style: italic;
        }
    }
}