.process-list-component {
    padding-top: 1em;

    .process-list {
        border: solid 1px #ccc;
        overflow-y: auto;
        overflow-x: auto;
    }

    .input-icon {
        line-height: 2;
    }
    .process-list-item {
        .md-list-item {
            height: 42px !important;
        }
        &.selected {
            background: rgba(0,0,0,0.5);
        }
        cursor: pointer;
        .process-icon {
            text-align: center;
            padding-top: 10px;
        }
        .process-header {
            font-size: larger;
        }
        .process-subheader {
            font-size: small;
            font-style: italic;
        }
        &:hover {
            background: rgba(0,0,0,0.3);
        }
    }
}