.toolbar {
  .float-right {
    float:right;
  }
  .width-33 {
    width: 33%;
  }
  .flex-pusher {
    flex: 1 1 auto
  }
  .spacer-sm {
    padding-left:0.5em;
  }
  .center-text {
    text-align: center;
  }
  .right-align-text {
    text-align: right;
  }
}