.toolbar {
    .title {
        cursor: pointer;
    }
    .float-right {
        float: right;
    }
    .width-33 {
        width: 33%;
    }
    .flex-pusher {
        flex: 1 1 auto
    }
    .spacer-sm {
        padding-left: 0.5em;
    }
    .center-text {
        text-align: center;
    }
    .right-align-text {
        text-align: right;
    }
    .left-divider {
        margin-left: 10px;
        border-left: solid 1px rgba(0,0,0,0.2);
    }
    .target-area {
        margin-left: 10px;
        border-left: solid 1px rgba(0,0,0,0.2);

        .no-target {
            padding-left: 0.6em;
            font-style: italic;
            font-size: medium;
        }
        .target-name {
            padding-left: 0.6em;
        }
    }
}
.breakpointMenu {
    //md-list-item {
    //    padding-top: 0.3em;
    //    padding-bottom: 0.5em;
    //}
    //md-list-item:hover {
    //    cursor:pointer;
    //    background-color: rgba(0,0,0,0.3);
    //}
    //
    //md-list-item:last-child {
    //    padding-bottom: 0;
    //}
    //.breakpointMenuSpacer {
    //    min-width: 1em;
    //    flex: 1 1 auto;
    //}
    .overflow-ellipsis{
        text-overflow: ellipsis;
        overflow-x: hidden;
    }
    md-icon {
        color: black;
    }
}
