@import '../node_modules/@angular/material/core/theming/theming';

@mixin spice-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    .source-code {
        .row:nth-of-type(odd) {
            background: mat-color($primary, 50);
        }
        .line-number-col {
            border-left: 2px solid mat-color($primary, 700);
            border-right: 2px solid mat-color($primary, 700);
        }
        .source-code-col {
            border-right: 4px solid mat-color($primary, 700);
        }
    }
}
