// Plus imports for other components in your app.
@import 'components/_debugger-theme';
@import 'components/_file-browser-theme';
@import 'components/_trace-history-theme';
@import 'components/_process-list-theme';
@import 'components/_trace-loop-theme';
@import 'components/_launcher-theme';
@import 'components/_line-graph-theme';
@import 'components/_variable-display-theme';
@import '_spice-theme';

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.

$desert-spice-primary: mat-palette($mat-deep-orange, 500, 50, 700);
$desert-spice-accent: mat-palette($mat-green, A200, A100, A400);
// The warn palette is optional (defaults to red).
$desert-spice-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$desert-spice-theme: mat-light-theme($desert-spice-primary, $desert-spice-accent, $desert-spice-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($desert-spice-theme);
@include debugger-theme($desert-spice-theme);
@include spice-theme($desert-spice-theme);
@include file-browser-theme($desert-spice-theme);
@include trace-history-theme($desert-spice-theme);
@include process-list-theme($desert-spice-theme);
@include launcher-theme($desert-spice-theme);
@include trace-loop-theme($desert-spice-theme);
@include line-graph-theme($desert-spice-theme);
@include variable-display-theme($desert-spice-theme);

.spicy-dark {
	$dark-primary-palette-1: mat-palette($mat-orange, 300, 500, 100);
	$dark-primary-palette-2: mat-palette($mat-indigo);
 $dark-primary: map_merge($dark-primary-palette-1, (
    /*lighter: #232e40,*/
	lighter: #655a4a,
    lighter-contrast: white
  ));

  /*$dark-primary: mat-palette($mat-orange, 300, 900, 100);*/
  $dark-accent:  mat-palette($mat-deep-orange, A200, A100, 400);
  $dark-warn:    mat-palette($mat-red);

  $moonlight-spice-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($moonlight-spice-theme);
  @include debugger-theme($moonlight-spice-theme);
  @include spice-theme($moonlight-spice-theme);
  @include file-browser-theme($moonlight-spice-theme);
  @include trace-history-theme($moonlight-spice-theme);
  @include process-list-theme($moonlight-spice-theme);
  @include launcher-theme($moonlight-spice-theme);
  @include trace-loop-theme($moonlight-spice-theme);
  @include line-graph-theme($moonlight-spice-theme);
  @include variable-display-theme($moonlight-spice-theme);
}
