<div class="debugger-container">
	<md-card class="smallerMargin">
		<md-card-title><i>{{GetFunctionAsString()}}</i></md-card-title>
		<md-card-subtitle *ngIf="!sourceFunction">Select functions and set breakpoints from the <span class="functions-keyword" (click)="GoToFunctionsView()">functions</span> view.</md-card-subtitle>
		<md-card-content *ngIf="!!sourceFunction">
			<table class="width-100" cellspacing="0">
				<tr>
					<td *ngFor="let par of sourceFunction.parameters">
						<md-input-container class="width-100">
							<input mdInput [(ngModel)]="setParameters[par.name]" placeholder="{{par.sType}} {{par.name}}">
						</md-input-container>
					</td>
				</tr></table>
		</md-card-content>
		<md-card-actions>
			<button md-button [disabled]="!sourceFunction" (click)="ExecuteFunction()"><md-icon class="md-accent">play_circle_outline</md-icon>Run with Custom Parameters</button>
		</md-card-actions>
	</md-card>
	<md-card class="smallerMargin">
		<md-card-subtitle>Graph variable over time:</md-card-subtitle>
		<md-card-content>
			<md-input-container class="width-100">
				<input mdInput [(ngModel)]="graphVariableName" placeholder="Variable name">
			</md-input-container>
			<button md-button [disabled]="!graphVariableName" (click)="SetGraphVariable(graphVariableName)">Graph</button>
		</md-card-content>
	</md-card>
	<md-card class="smallerMargin">
		<md-card-subtitle>Debug Trace</md-card-subtitle>
		<md-card-content>
			<div fxLayout="row">
				<div class="debugger-display source-code" fxFlex="80" fxLayout="row">
					<div class="source-code-viewer" fxFlex="40" fxLayout="row">
						<div class="line-number-col" fxFlex="nogrow">
							<div class="row" [matchMaxHeight]="'debugger-'+(sourceFunction.lineStart+i)" *ngFor="let line of lines; let i=index;">
								<span>{{sourceFunction.lineStart + i}}</span>
							</div>
						</div>
						<div class="source-code-col" fxFlex>
							<div class="row" [matchMaxHeight]="'debugger-'+(sourceFunction.lineStart+i)" *ngFor="let line of lines; let i=index;">
								<pre>{{line.sourceCode}}</pre>
							</div>
						</div>
					</div>
					<div class="trace-col" fxFlex fxLayout="row">
						<spice-trace-loop></spice-trace-loop>

						<!--<div class="iteration-col" fxFlex *ngFor="let n of [].constructor(traceColCount); let colIndex=index;">-->
							<!--<div class="row" [matchMaxHeight]="'debugger-'+i" *ngFor="let line of lines; let i=index;">-->
								<!--<spice-trace *ngIf="line.traces[colIndex]" [trace]="line.traces[colIndex]" fxFlex></spice-trace>-->
							<!--</div>-->
						<!--</div>-->
					</div>
				</div>
				<div fxFlex="20">
					<spice-line-graph #lineGraph [data]="graphData" [width]="300" [height]="300">
					</spice-line-graph>
				</div>
			</div>
		</md-card-content>
	</md-card>
</div>

<!--
		<reactive-height-grid layout="row" class="debugger">
			<div flex class="source-code-viewer">
				<div layout="row">
					<div flex="none" class="line-number-column debug-column">
						<reactive-height-cell ng-repeat="line in lines.slice(lineStart, lineEnd)" row="$index" col="0">
							<span flex>{{$index + 1 + lineStart}}</span>
						</reactive-height-cell>
					</div>
					<div flex class="code-column debug-column">
						<reactive-height-cell ng-repeat="line in lines.slice(lineStart, lineEnd)" row="$index" col="1">
							<pre flex>{{line.code}}</pre>
						</reactive-height-cell>
					</div>
				</div>
			</div>
			<div flex class="state-column debug-column" layout="row">
				<div flex class="trace-column" ng-repeat="(colIndex, i) in [].constructor(traceColCount) track by $index">
					<reactive-height-cell ng-repeat="line in lines" row="$index" col="$parent.$index+2">
						<trace flex trace="line.traces[colIndex]"></trace>
					</reactive-height-cell>
				</div>
			</div>
		</reactive-height-grid>
	</div>
	-->
