<div class="debugger-container">
	<table>
		<tr>
			<td>0</td>
			<td>hello</td>
			<td>x=1</td>
			<td>x=2</td>
		</tr>
	</table>
	<section class="debugger-display">
		<div class="row">
			<div class="line-number-col">1</div>
			<div class="source-code-col">hello I am source code</div>
			<div class="trace-col">x=1</div>
			<div class="trace-col">x=2</div>
		</div>
		<div class="row">
			<div class="line-number-col">2</div>
			<div class="source-code-col">short</div>
			<div class="trace-col">looooong=1</div>
		</div>
		<div class="row">
			<div class="line-number-col">3</div>
			<div class="source-code-col"><pre>also very long actually this is exttremely long wow abcslkdjglwiegjwegli
			wg
			Wieogjw
			eoig
			w</pre></div>
			<div class="trace-col">x=1</div>
			<div class="trace-col">x=1</div>
			<div class="trace-col">x=1</div>
		</div>
	</section>
</div>
