<div class="debugger-container">
	<md-card class="smallerMargin">
		<md-card-title><i>{{GetFunctionAsString()}}</i> <button class="types-button" md-raised-button><md-icon [color]="'primary'">compare_arrows</md-icon> Type Mapping</button></md-card-title>
		<md-card-subtitle *ngIf="!sourceFunction">Select functions and set breakpoints from the <span class="functions-keyword" (click)="GoToFunctionsView()">functions</span> view.</md-card-subtitle>
		<md-card-content *ngIf="!!sourceFunction">
			<table class="width-100" cellspacing="0">
				<tr>
					<td *ngFor="let par of sourceFunction.parameters">
						<md-input-container class="width-100">
							<input mdInput [(ngModel)]="setParameters[par.name]" placeholder="{{par.sType}} {{par.name}}">
						</md-input-container>
					</td>
				</tr>
			</table>
			<button md-button [disabled]="!sourceFunction" (click)="ExecuteFunction()"><md-icon class="md-accent">play_circle_outline</md-icon> Call</button>
		</md-card-content>
	</md-card>
	<md-card class="smallerMargin source-card">
		<md-card-content>
			<div class="debugger-display source-code" fxFlex fxLayout="row">
				<div class="source-code-viewer" fxFlex="40" fxLayout="row">
					<div class="line-number-col" fxFlex="nogrow">
						<div class="row" [matchMaxHeight]="'debugger-'+(sourceFunction.lineStart+i)" *ngFor="let line of lines; let i=index;">
							<span>{{sourceFunction.lineStart + i}}</span>
						</div>
					</div>
					<div class="source-code-col" fxFlex>
                        <pre class="language-clike"><code class="language-clike"><div class="row" [matchMaxHeight]="'debugger-'+(sourceFunction.lineStart+i)" *ngFor="let line of lines; let i=index;"><div [innerHTML]="line"></div></div></code></pre>
					</div>
				</div>
				<div class="trace-col" fxFlex>
					<spice-trace-loop *ngIf="debuggerService.currentDebuggerState"
						[debuggerState]="debuggerService.currentDebuggerState"
						[sourceFunction]="sourceFunction"
						[loopData]="traceData" [oddStartLine]="traceData.startLine%2===1"></spice-trace-loop>
				</div>
			</div>
		</md-card-content>
	</md-card>
	<md-card class="smallerMargin">
		<md-card-content fxLayout="row">
			<div fxFlex="25">
				<h2>Node Graph</h2>
				<div class="variable-selector">
					<md-select placeholder="Variable" *ngIf="!!sourceFunction" [(ngModel)]="nodeGraphVariable">
						<md-option *ngFor="let sf of sourceFunction.locals.concat(sourceFunction.parameters)" [value]="sf.address">
							{{sf.name}}
						</md-option>
					</md-select>
				</div>
				<div class="node-selector" *ngIf="variableBaseTypeIsStruct(nodeGraphVariable)">
					<ul>
						<li *ngFor="let field of getVariableBaseType(nodeGraphVariable).data.fields; let i = index">
							<button md-button (click)="toggleNodeGraphFieldIndex(i)">
								<md-icon [color]="'accent'" *ngIf="nodeGraphFieldIndexes.has(i)">check</md-icon>
								<md-icon [color]="'warn'" *ngIf="!nodeGraphFieldIndexes.has(i)">close</md-icon>
								{{field.name}}
							</button>
						</li>
					</ul>
				</div>
				<button md-raised-button [disabled]="!nodeGraphVariable" (click)="SetNodeGraphVariable(nodeGraphVariable)"><md-icon>timeline</md-icon> Display</button>
			</div>
			<span fxFlex></span>
			<div fxFlex class="graph-display">
				<spice-graph-display #graphDisplay [data]="nodeGraphData" [width]="750" [height]="250"></spice-graph-display>
			</div>
		</md-card-content>
	</md-card>

	<md-card class="smallerMargin">
		<md-card-content fxLayout="row">
			<div fxFlex="25">
				<h2>Graph Function Variable</h2>
				<div class="variable-selector">
					<md-select placeholder="Variable" *ngIf="!!sourceFunction" [(ngModel)]="graphVariable">
						<md-option *ngFor="let sf of sourceFunction.locals.concat(sourceFunction.parameters)" [value]="sf.address">
							{{sf.name}}
						</md-option>
					</md-select>
				</div>
				<!--<md-input-container class="width-100">-->
					<!--<input mdInput [(ngModel)]="graphVariableName" placeholder="Variable name">-->
				<!--</md-input-container>-->
				<button md-raised-button [disabled]="!graphVariable" (click)="SetGraphVariable(graphVariable)"><md-icon>timeline</md-icon> Graph</button>
			</div>
			<span fxFlex></span>
			<div fxFlex class="line-graph">
				<spice-line-graph #lineGraph [data]="graphData" [width]="750" [height]="250"></spice-line-graph>
			</div>
		</md-card-content>
	</md-card>
</div>
