<div class="trace-loop iteration-col" fxLayout="row">
	<div *ngIf="loopData.iterations.length > 1"
		 class="expand-loop-button"
		 title="{{showAllIterations ? 'Hide loop contents.' : 'Show loop contents.'}}"
		 (click)=toggleShowAllIterations()
		 fxFlex="nogrow"
		 fxLayout="column"
		 fxLayoutAlign="center center">
		<div fxFlex="nogrow">
			<span [hidden]="!showAllIterations" class="expand-icon">&lt;</span>
			<span [hidden]="showAllIterations">+{{loopData.iterations.length-1}}<span class="expand-icon">&gt;</span></span>
		</div>
	</div>
	<div fxFill class="iteration-wrap" fxLayout="row">
		<span *ngFor="let iteration of loopData.iterations; let iterIdx=index;">
			<div fxFlex *ngIf="showAllIterations || iterIdx === loopData.iterations.length-1" class="iteration">
				<span *ngFor="let n of [].constructor(loopData.endLine-loopData.startLine+1); let i=index;">
					<span *ngIf="!!getTraceGroupAtLine(iteration, i+loopData.startLine)"
						[ngSwitch]="getTraceGroupAtLine(iteration, i+loopData.startLine).kind">
						<div class="row trace" [ngClass]="{'odd': !!((i+loopData.startLine)%2)===oddStartLine, 'first': i===0, 'last': i===(loopData.endLine-loopData.startLine)}" *ngSwitchCase="'trace'" [matchMaxHeight]="'debugger-'+(i+loopData.startLine)">
							<spice-trace
									[trace]="getTraceGroupAtLine(iteration, i+loopData.startLine).trace"
									[debuggerState]="debuggerState"
									[sourceFunction]="sourceFunction"
									[pointerTypes]="pointerTypes"
									[pointerValues]="pointerValues"></spice-trace>
						</div>
						<span *ngSwitchCase="'loop'">
							<spice-trace-loop *ngIf="(i+loopData.startLine) === getTraceGroupAtLine(iteration, i+loopData.startLine).startLine"
								[debuggerState]="debuggerState"
								[sourceFunction]="sourceFunction"
								[loopData]="getTraceGroupAtLine(iteration, i+loopData.startLine)"
								[oddStartLine]="oddStartLine"
								[pointerTypes]="pointerTypes"
								  [pointerValues]="pointerValues"></spice-trace-loop>
						</span>
					</span>
					<div *ngIf="!getTraceGroupAtLine(iteration, i+loopData.startLine)" class="row trace"
						[matchMaxHeight]="'debugger-'+(i+loopData.startLine)" [ngClass]="{'odd': !!((i+loopData.startLine)%2)===oddStartLine,
						'first': i===0, 'last': i===(loopData.endLine-loopData.startLine)}">
					</div>
				</span>
			</div>
		</span>
	</div>
</div>
