<div class="trace">
	<div *ngIf="trace.data.tType==='line'" class="trace-instruction">
		<ul>
			<li *ngFor="let state of stateEntries">
				{{state.variable ? state.variable.name : state.address}} =
				<!--<span (click)="viewStruct(state)" style="cursor:pointer">{{stringifyStateValue(state)}}</span>-->
				<spice-variable-display
					[type]="state.sType"
					[value]="state.value"
					[valueMap]="trace.data.state"
					[editable]="false"
					[compact]="true"
					[debugState]="debuggerState"></spice-variable-display>
			</li>
		</ul>
	</div>
	<div *ngIf="trace.data.tType==='return'" class="trace-termination">
		returned
		<spice-variable-display
				[type]="functionReturnType"
				[value]="trace.data.value"
				[editable]="false"
				[compact]="true"
				[debugState]="debuggerState"></spice-variable-display>
	</div>
	<div *ngIf="trace.data.tType==='crash'" class="trace-termination">
		crashed {{trace.data.stack}}
	</div>
	<div *ngIf="trace.data.tType==='error'" class="trace-termination">
		error {{trace.data.error}}
	</div>
	<div *ngIf="trace.data.tType==='cancel'" class="trace-termination">
		trace cancelled
	</div>
</div>
