<div class="about-view">
    <h1 md-dialog-title>Spice Debugger</h1>
    <img src="images/favicon.png"/>
    <div>
        <i>Developed Fall 2016 and Spring 2017</i>
    </div>
    <div>
        Undergraduate Senior Capstone at the University of Utah in Computer Science
    </div>
    <hr>
    <div>
        <a href="http://www.sambdavidson.com/" target="_blank">Samuel Davidson</a>,
        <a href="http://neurotischism.com" target="_blank">Elliot Hatch</a>,
        <a href="https://github.com/tcourdy" target="_blank">Tarik Courdy</a>,
        <a href="https://github.com/rpjohnst" target="_blank">Russell Johnston</a>
    </div>
    <md-dialog-actions>
        <button md-button md-dialog-close>Close</button>
    </md-dialog-actions>
</div>
