<md-toolbar class="toolbar center-text" color="primary">
    <span class="title" (click)="openAboutSpiceDialog()"><h2>Spice Debugger</h2></span>
    <span class="target-area">
        <span *ngIf="!isAttached()"  class="no-target">Not Attached</span>
        <span *ngIf="!!isAttached()" class="target-name">{{processName()}}</span>
    </span>
    <span class="flex-pusher"></span>
    <span [hidden]="IsInLauncherView()">
        <button md-button *ngIf="!canContinue()" [disabled]="!canStart()" (click)="ContinueExecution()"><md-icon [color]="'accent'">play_arrow</md-icon> Start</button>
        <button md-button *ngIf="canContinue()" [disabled]="!canContinue()" (click)="ContinueExecution()"><md-icon [color]="'accent'">skip_next</md-icon> Continue</button>
        <button *ngIf="IsFunctionExecution(); else processExecution" md-button [disabled]="!canStopExecution()" (click)="StopExecution()"><md-icon [color]="'accent'">pause</md-icon> Cancel</button>
        <ng-template #processExecution>
        <button md-button [disabled]="!canStopExecution()" (click)="StopExecution()"><md-icon [color]="'accent'">pause</md-icon> Pause</button>
        </ng-template>
        <button md-button [disabled]="!canKillProcess()" (click)="KillProcess()"><md-icon [color]="'accent'">stop</md-icon> Stop</button>
        <button md-button [disabled]="!canDetach()" (click)="Detach()"><md-icon [color]="'accent'">close</md-icon>Detach</button>
	</span>
    <span class="left-divider">
        <button md-button *ngIf="breakpointCount() === 0" [disabled]="!debuggerService.currentDebuggerState || IsInFunctionView()" (click)="GoToFunctionsView()">
            <md-icon>library_books</md-icon>
        Breakpoints [{{breakpointCount()}}]
        </button>
        <button md-button *ngIf="breakpointCount() > 0" [mdMenuTriggerFor]="breakpointMenu" (click)="GetBpFunctions()">
            <md-icon>library_books</md-icon>
        Breakpoints [{{breakpointCount()}}]
        </button>
        <button md-button [disabled]="breakpointCount() === 0" (click)="ToggleTraceHistory()">
            <md-icon>bug_report</md-icon>
        Trace History [{{executionCount()}}]
        </button>
    </span>
</md-toolbar>

<md-menu class="breakpointMenu" #breakpointMenu="mdMenu">
	<h3 *ngIf="breakpointCount() === 0">No Breakpoints</h3>
    <button md-menu-item *ngFor="let func of bpFunctions" (click)="BreakpointFunctionSelected(func)" title="{{func.name}}">
        <md-icon md-prefix>library_books</md-icon>
        <span class="overflow-ellipsis">{{func.name}}</span>
    </button>
</md-menu>
