<div id="ConfigurationContainer">
    <md-grid-list cols="3" rowHeight="{{GetRowHeight()}}">
        <md-grid-tile [colspan]="1" [rowspan]="4" class="config-tile">
            <md-card class="smallerMargin">
                <md-card-title>Functions</md-card-title>
                <spice-function-list class="width-100" [sourceFunctions]="sourceFunctions"></spice-function-list>
            </md-card>

        </md-grid-tile>
        <md-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'lightblue'">SourceType Stuff</md-grid-tile>
        <md-grid-tile [colspan]="2" [rowspan]="3" [style.background]="'lightgreen'">
            Source Viewer
            <button md-button (click)="Reload()">Reload</button>
        </md-grid-tile>
    </md-grid-list>
</div>