<div id="ConfigurationContainer">
    <md-grid-list cols="3" rowHeight="{{GetRowHeight()}}">
        <md-grid-tile [colspan]="1" [rowspan]="4" [style.background]="'lightpink'">
            <spice-process-list></spice-process-list>
        </md-grid-tile>
        <md-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'lightblue'">SourceType Stuff</md-grid-tile>
        <md-grid-tile [colspan]="2" [rowspan]="3" [style.background]="'lightgreen'">Source Viewer</md-grid-tile>
    </md-grid-list>
</div>