<div #Launcher id="LauncherContainer">
    <md-card class="smallMargin" [style.height.px]="launcherCardHeight">
        <md-card-title>Launch from filesystem or existing process.</md-card-title>
        <md-card-content>
            <div fxLayout="row">
                <button md-mini-fab [disabled]="!selectedFileOrProcess || attaching || !!debugState" (click)="Attach()"><md-icon>launch</md-icon></button>
                <div fxFlex class="selected-info">
                    <div class="selected-title">
                        {{ GetSelectedName() }}
                    </div>
                    <div class="selected-subtitle">
                        {{ GetSelectedInformation() }}
                    </div>
                </div>
            </div>
        </md-card-content>
        <hr>
        <md-tab-group>
            <md-tab label="Binary or Executable">
                <spice-file-browser #LauncherFileBrowser (onFileSelected)="OnFileSelected($event)" [elementHeightPx]="fileBrowserHeight"></spice-file-browser>
            </md-tab>
            <md-tab label="Existing Process">
                <spice-process-list #LauncherProcessList (onProcessSelected)="OnProcessSelected($event)" [elementHeightPx]="processListHeight"></spice-process-list>
            </md-tab>
        </md-tab-group>
    </md-card>
</div>

