<md-tab-group>
    <md-tab label="Binary or Executable">
        <h3>
            <i *ngIf="!selectedFile">No file selected</i>
            <span *ngIf="!!selectedFile">{{selectedFile.name}}</span>:
        </h3>
        <button md-raised-button [disabled]="!selectedFile">Launch</button>
        <button md-raised-button [disabled]="!selectedFile">Kill</button>
        <h4>Select a File</h4>
        <spice-file-browser (fileSelected)="FileSelected($event)"></spice-file-browser>
    </md-tab>
    <md-tab label="Existing Process">
        List of processes
    </md-tab>
</md-tab-group>