<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} - Spice</title>
        <base href="https://team-worm.github.io/spice/">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="images/logo.png" rel="shortcut icon">
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <a href="">
                <img src="images/logo.png" width="48" height="48">
                <h1>Spice</h1>
            </a>

            <nav>
                <ul>
                    <li><a href="documentation">Documentation</a></li>
                    <li><a href="https://github.com/team-worm/spice/releases">Download</a></li>
                    <li><a href="https://github.com/team-worm/spice">Source</a></li>
                </ul>
            </nav>
        </header>

        <section>
{{ content }}
        </section>
    </body>
</html>
