<div id="FunctionsContainer">
    <div fxLayout="row">
        <div fxFlex="30" >
        <md-card class="smallerMargin" [style.height.px]="GetFullCardHeight()">
            <md-card-title class="smallBottomMargin">
                Functions:
            </md-card-title>
            <md-card-subtitle class="smallBottomMargin">
                <b>Base Functions</b> | <button md-button [mdMenuTriggerFor]="functionFilterMenu" >Library Functions</button>
            </md-card-subtitle>
            <spice-function-list
                    #FunctionsFunctionList
                    class="width-100"
                    [sourceFunctions]="listedFunctions"
                    [debuggerState]="debuggerService.currentDebuggerState"
                    [elementHeightPx]="GetListHeight()"
                    (onFunctionSelected)="OnFunctionSelected($event)"></spice-function-list>
        </md-card>
        </div>
        <div fxFlex="70">
            <md-card class="smallerMargin">
                <md-card-title>Selected Function: <i>{{GetSelectedFunctionAsString()}}</i> <button class="types-button" md-raised-button (click)="OpenSpiceTypeDialog()" [disabled]="!selectedFunction"><md-icon [color]="'primary'">compare_arrows</md-icon> Type Mapping</button></md-card-title>
                <md-card-subtitle *ngIf="!selectedFunction">Select a function from the list to the left.</md-card-subtitle>
                <md-card-subtitle *ngIf="!!selectedFunction">Line {{selectedFunction.lineStart}} of {{selectedFunction.sourcePath}}</md-card-subtitle>
                <md-card-actions>
                    <button md-button [disabled]="!selectedFunction"
						*ngIf="!selectedFunction || !!debuggerService.currentDebuggerState && !debuggerService.currentDebuggerState.breakpoints.has(selectedFunction.address)" (click)="ToggleBreakpoint()">
                        <md-icon>bookmark_border</md-icon>Set Breakpoint
                    </button>
                    <button md-button [disabled]="!selectedFunction"
						*ngIf="!selectedFunction || !!debuggerService.currentDebuggerState && debuggerService.currentDebuggerState.breakpoints.has(selectedFunction.address)" (click)="ToggleBreakpoint()">
                        <md-icon>bookmark</md-icon>Remove Breakpoint
                    </button>
                    <i>or</i>
                    <button md-button [disabled]="!selectedFunction" (click)="ExecuteFunction()"><md-icon class="md-accent">play_circle_outline</md-icon> Call</button>
                </md-card-actions>
            </md-card>
            <md-card class="function-source-card smallerMargin">
                <md-card-content *ngIf="!selectedFunction">
                    Select a function from the list.
                </md-card-content>
                <div class="source-code" *ngIf="!!lines && linesLoaded">
                    <div class="source-code-viewer" fxFlex fxLayout="row">
                        <div class="line-number-col" fxFlex="nogrow">
                            <div class="row"
								 [ngClass]="{breakpoint: HasBreakpoint(i+1)}"
                                 [matchMaxHeight]="'functions-'+i"
                                 *ngFor="let line of lines; let i=index;">
                                <span>{{i + 1}}</span>
                            </div>
                        </div>
                        <div class="source-code-col" fxFlex>
                            <div class="row" [matchMaxHeight]="'functions-'+i" *ngFor="let line of lines; let i=index;">
                                <pre>{{line}}</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <md-card-content *ngIf="!!lines && !linesLoaded">
                    <i>Unable to load file contents.</i>
                </md-card-content>
                <md-card-content *ngIf="!lines && !linesLoaded">
                    <md-progress-spinner mode="indeterminate"></md-progress-spinner>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>
<md-menu #functionFilterMenu="mdMenu" positionY="100">
    <button md-menu-item *ngFor="let filter of defaultFuncCollections" (click)="ToggleFilter(filter)">
        <md-icon [color]="'accent'" *ngIf="!filter.doFilter">check</md-icon>
        <md-icon [color]="'warn'" *ngIf="filter.doFilter">close</md-icon>
        {{filter.collection.collectionName}}
    </button>
</md-menu>
